<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <main>
      <section class="center">
        <h2>404 Page not found!</h2>
        <p>Go back <a href="/" class="green">Home</a></p>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
